.gitignore
*.core
core
Build
blib
*.bak
*_wrap\.*
\.*sw[op]
_build
tmp*
pod2htm*
Makefile*
!Makefile.PL
.git/*
*.data
foo*
tags
.DS_Store
MANIFEST*
!MANIFEST.SKIP
inc/
META.yml
pm_to_blib
Math-BigRat-*
